.container
{
    min-height: 100%;
    width: 80%;
    position:relative;
    text-align: center;
    background-color:beige;
    overflow: hidden;
}

.footer {
    position:relative;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: rgba(12, 11, 11, 0.911);
    color: white;
}